boto3
pytest-cov==2.8.1
mock==3.0.5
wheel==0.33.6
twine==2.0.0
bump2version==0.5.11
pandas==1.0.3
numpy==1.18.4
pycodestyle==2.7.0
setuptools-rust==0.12.1
beautifulsoup4==4.9.3
boto3==1.13.19
botocore==1.16.18
chardet==4.0.0
lxml==4.6.3
pandas_datareader==0.10.0
yahoo_earnings_calendar==0.6.0
yahoo_fin==0.8.9.1
yfinance==0.1.67
